/* Estilo de la pagina del index el home */


.general{
    background-color:white;
}
.icon{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    padding: 25px;
    font-size: 20px;
    display: none;
    
}

.titulo-servicios{
    text-align: center;
    font-style:  italic;
}
.num1 p{
    width: 300px;
    text-align: justify;
    font-family: Garamond;
    line-height: 1.5;
    font-size: 20px;
    color: gray;
}

.num1{
    margin: auto; 
  
}

.num2 p{
    width: 300px;
    text-align: justify;
    font-family: Garamond;
    line-height: 1.5;
    font-size: 20px;
    color: gray;
}

main a{
    color: gray;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
}

.titulo-referencias{
    text-align: center;
    font-family: Garamond;
    line-height: 1.5;
    font-size: 20px;
    color: gray;
}


.num2{
  margin: auto; 
 
}

.num3{
    margin: auto;
}

.titulo-marcas{
    text-align: center;
}

.num-1{
    text-align: center;
}

.num-2{
    text-align: center;
}

.marcas{
    background-color: #efefef;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.marca-audi{
    height: 175px;
    width: 225px;
}
.marca-bmw{
    height: 175px;
    width: 225px;
}

.marca-chevrolet{
    height: 175px;
    width: 225px;
}

.marca-citroen{
    height: 175px;
    width: 225px;
}


.marca-honda{
    height: 175px;
    width: 235px;
}

.marca-ford{
    height: 175px;
    width: 235px;
}

.marca-hyunday{
    height: 175px;
    width: 235px;
}

.marca-jeep{
    height: 175px;
    width: 235px;
}

.marca-kia{
    height: 175px;
    width: 235px;
}




main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    background-color: #efefef;
}


main .titulo-servicios{
    margin: 150px 0px 0px 0px;
}


.acerca-de{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    background-color: #efefef;
}

.informacion{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    background-color: #efefef;
}
.titulo-autor{
    text-align: center;
}






/* Para el Main */
@media screen and (max-width: 768px) {
    main{
        width: 90%;
        max-width: 1000px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .acerca-de{
        width: 90%;
        max-width: 1000px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
       
    }
    
    article{
        width: 90%;
        max-width: 1000px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        
    }
    
    .informacion{
        width: 90%;
        max-width: 1000px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
     
    }
    
}


    

